name: "Build and push image"
description: "Builds and pushes an image to a registry"

inputs:
  service:
    description: "Service to build"
    required: true
  service_path:
    description: "Path to service directory (e.g., Basket/Basket.API)"
    required: true
  registry_host:
    description: "Image registry host e.g. docker.io"
    required: true
  registry_endpoint:
    description: "Image registry repo e.g. jem9707"
    required: true
  image_name:
    description: "Name of image"
    required: true
  registry_username:
    description: "Registry username"
    required: true
  registry_password:
    description: "Registry password"
    required: true
  
runs:
  using: "composite"
  steps:
  - name: Install Docker Compose
    shell: bash
    run: |
      sudo apt-get update
      sudo apt-get install -y docker-compose
      docker-compose --version
  
  - name: Login to Container Registry
    uses: docker/login-action@v3
    with:
      username: ${{ inputs.registry_username }}
      password: ${{ inputs.registry_password }}

  - name: Set branch name as env variable
    run: |
      currentbranch=$(echo ${GITHUB_REF##*/})
      echo "running on $currentbranch"
      echo "BRANCH=$currentbranch" >> $GITHUB_ENV
    shell: bash

  - name: Build Docker image
    shell: bash
    run: |
      docker build -t ${{ inputs.registry_endpoint }}/${{ inputs.image_name }}:${{ env.BRANCH }} \
        -f ./Code/Homework/src/${SERVICE_PATH}/Dockerfile \
        ./Code/Homework/src
    env:
      SERVICE_PATH: ${{ inputs.service_path }}

  - name: Push Docker image
    shell: bash
    run: docker push ${{ inputs.registry_endpoint }}/${{ inputs.image_name }}:${{ env.BRANCH }}
